<ion-view>
	<ion-content class="courses">
		
		<div class="row coursesList">
			<div class="col col-30">
				<a href="#/tab/video"><img src="img/p.jpg" width="100%"></a>
				<span>课程名称3</span>
				<span>14:00-14:30</span>
			</div>
			<div class="col col-30">
				<a href="#/tab/video"><img src="img/p.jpg" width="100%"></a>
				<span>课程名称3</span>
				<span>14:00-14:30</span>
			</div>
			<div class="col col-30">
				<a href="#/tab/video"><img src="img/p.jpg" width="100%"></a>
				<span>课程名称3</span>
				<span>14:00-14:30</span>
			</div>
		</div>
	</ion-content>
</ion-view>